<div id="contact-us" class="fullsection">
  <div class="mainheading">Contact Us</div>
  <div class="Mainbody">
    <div class="SantaImage">
      <img src="{{ '/smilesanta.png' | asset_url }}" alt="Santa">
    </div>
    <div class="section2">
      <div class="phone">
        <div class="touch">Get in Touch</div>
        <div class="number">
          <img
            style="margin-right:10px; width:30px; height:30px"
            src="{{ '/callIcon.png' | asset_url }}"
            alt="callIcon"
          >
          <a class="phonenumber">+18001231234</a>
        </div>
      </div>
      <div class="words">
        We'd love to hear from you! and we love discussing potential projects and new ideas. Any question or remarks?
        Just write us a message.
      </div>
      <div class="namef">
        <input type="text" placeholder="Your Name">
      </div>
      <div class="parentfield">
        <input style="margin-right:5px" type="text" placeholder="Email Address">
        <input type="text" placeholder="Phone">
      </div>
      <div class="commentf">
        <input type="text" placeholder="Comment">
      </div>
      <div class="batan">
        <button>Send Messages</button>
      </div>
    </div>
  </div>
</div>
