<div class="customize-message-screen">
  <div class="main1">
    <div class="headingtop">Customize your Messages</div>
    <div class="main2">
      <div class="gift">
        {% comment %} <img src={GFT} /> {% endcomment %}
        {% comment %} <img src="{{ '/gift.png' | asset_url }}" alt="gift Image"> {% endcomment %}

        {% comment %}
           <video autoplay muted loop id="myVideo">
            <source src="{{ '/gift.mp4' | asset_url }}" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        {% endcomment %}

        <img src="{{ '/gift-gif.gif' | asset_url }}" alt="group Image">
        <div class="ptop">5 Videos From Santa Claus</div>
        <div class="pcenter">You will receive five custom videos from Santa Claus to a person of your choice</div>
      </div>
      <div class="custoMessage">
        <div class="messageHeading">Unbox The Magic of Christmas</div>
        <div class="messageDescription">
          Customize up to 5 custom videos from Santa Claus to a person of your choice
        </div>
      </div>

      <div class="Grpimage">
        <img class="img1" src="{{ '/santaGroup.png' | asset_url }}" alt="group Image">
      </div>
    </div>

    <div class="butn">
      <button>Gifts Messages From Santa</button>
    </div>
  </div>
</div>
