<div id="how-it-works" class="how-it-works">
  <img src="{{ '/FULLIMAGE.png' | asset_url }}" alt="fullscreen Image">
</div>
<div id="how-it-works-mobile" class="how-it-works-mobile">
  <img src="{{ '/how-it-works-mobile.png' | asset_url }}" alt="fullscreen Image">
</div>
