<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {box-sizing: border-box;}

      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      .header {
        overflow: hidden;
        {% comment %} background: linear-gradient(180deg, rgba(29, 28, 45, 0.00) 68.7%, #1D1C2D 102.73%); {% endcomment %}
        {% comment %} background-color:"black"; {% endcomment %}
        padding: 20px 10px;
      }

      .header a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        {% comment %} background-color: red; {% endcomment %}
      }

      .header a.logo {
        font-size: 25px;
        font-weight: bold;
      }

      .header a:hover {
        background-color: #ddd;
        color: black;
      }

      .header a.active {
        background-color: dodgerblue;
        color: white;
      }

      .header-right {
        float: right;
      }
      .Header{
        background-color:#0e0b1f;
        display:flex;
        align-items: center;
        padding-top:20px;
      }
      .headingTittle{
        {% comment %} background-color:#1D1C2D; {% endcomment %}
        color: #FFF;
        text-align: center;
        font-family: EFCO Brookshire;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px; /* 96.875% */
        margin-left:20px
      }
      li a {
        text-decoration: none; /* Remove the underline from all links inside list items */
      }
      .list{
        display:flex;
      }
      @media screen and (max-width: 768px) {
        .headingTittle{
          font-size: 24px;
        }
        #Header-Content{
          display:none;
        }
      }
    </style>
  </head>
  <body>
    <div class="Header" id="Header-Content">
      {% comment %} <div class="headingTittle">{{ shop.name }}</div> {% endcomment %}
      <div class="headingTittle">Messages From Santa</div>
      <div class="list" id="navigation-bar">
        {% for link in linklists['main-menu'].links -%}
          <li>
            <a href="#contact"> {{ link.title | link_to: link.url }}</a>
          </li>
        {%- endfor %}
      </div>
      <div class="icon">
        <a href="{{}}">
          <img
            width="28"
            height="28"
            src="https://img.icons8.com/fluency-systems-regular/28/FFFFFF/search--v1.png"
            alt="search--v1"
          >
        </a>
        <a href="{{}}">
          <img
            width="28"
            height="28"
            src="https://img.icons8.com/fluency-systems-regular/28/FFFFFF/user--v1.png"
            alt="user--v1"
          >
        </a>
        <a href="{{routes.cart_url}}">
          <img
            width="32"
            height="32"
            src="https://img.icons8.com/windows/32/FFFFFF/shopping-cart.png"
            alt="shopping-cart"
          >
        </a>
      </div>
    </div>
  </body>
</html>
